.wrapper {
  width: 688px;
  height: 964px;

}


.steps {
  width: 624px;
  text-align: center;
  display: none;
  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #172239;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6d6d78;
    max-width: 250px;
    margin: 0 auto;
  }
}

.block-curse {
  width: 624px;
  height: 900px;
  &__wrapper-border {
    width: 624px;
    height: 240px;
  }
  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #172239;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    color: grey;
    max-width: 215px;
    margin: 0 auto;
  }

  &__subtitle-width {
    max-width: 150px;
  }

  &__img {
    width: 64px;
    height: 64px;
    background-color: #52c3ff;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 20px;

  }
  &__img-two {
    width: 64px;
    height: 64px;
    background-color: pink;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.block-curse {
  margin-bottom: -620px;
  &__wrapper-border {
    width: 624px;
    height: 239px;
  }
  &__label-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 32px 32px;
    box-sizing: border-box;
    border-radius: 32px;
    border: solid 2px #eaeaea;
    cursor: pointer;
  }
}

.button-block__next-width {
  display: block;
  margin-top: 120px;
  border-radius: 20px;
  width: 624px;
  height: 66px;
  background-color: #ffdfd6;
}
.block-curse input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.block-curse input:checked ~ .block-curse__label-input {
  border-color: #52c3ff;
}
.pagination-btn__left {
  display: inline-block;
  width: 16px;
  height: 7px;
  background-color: #52c3ff;
  border-radius: 5px;
}
.pagination-btn__right {
  width: 6px;
  height: 7px;
  background-color: gray;
  border-radius: 5px;
}