.wrapper {
  max-width: 1376px;
  min-height: 964px;
}

.block-login {
  width: 1385px;
  height: 1171px;
}


.form-block {
  width: 624px;
  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #172239;
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-family:Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6d6d78;
    text-align: center;
    width: 200px;
    margin: 0 auto;
  }

  &__label-item {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6d6d78;
    display: block;
  }
  &__svg-img {
    top: 48px;
    left: 20px;
    width: 32px;
    height: 32px;
    position: absolute;
  }

  &__svg-pass::before{
    content: url("/msg.svg");
    top: 38px;
    left: 20px;
    width: 28px;
    height: 28px;
    position: absolute;
  }

  &__label-input {
    width: 100%;
    height: 64px;
    border-radius: 20px;
    border: solid 1px  #eaeaea;
    font-size: 20px;
    line-height: 1.2px;
    color: #6d6d78;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__label-input:hover {
    transition: border 0.5s;
    border : 1px solid deepskyblue;
  }
}

.button-block {
  position: relative;
  bottom: 30px;
  &__login {
    display: block;
    margin-top: 400px;
    margin-bottom: 25px;
    width: 624px;
    height: 66px;
    background-color: #ffdfd6;

    border-radius: 20px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #172239;
    font-style: normal;

  }
  &__registration {
    display: block;
    width: 624px;
    height: 66px;
    background-color: #ffdfd6;
    border-radius: 20px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #172239;
    font-style: normal;

  }
}

.stepOne {
  display: flex;
  width: 1385px;
  height: 900px;
  padding: 64px 0 64px 0;
}

.block-left {
  width: 624px;
  height: 964px;
  text-align: center;
  margin-right: 50px;

  &__border {
    width: 624px;
    height: 844px;
    border: solid 1.250px lightgray;
    border-radius: 70px;
    padding: 32px;

  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #172239;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 32px;
    color: #fb779f;
    margin-bottom: 100px;
  }
}

.spinner-block {

  &__img {
    margin: 0 auto;
    width: 336px;
    height: 100px;
    margin-bottom: 200px;
  }
  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #172239;
    max-width: 383px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6d6d78;
    max-width: 300px;
    margin: 0 auto;
  }
}

.stepTwo {
  display: none;
}
